@page
@model myweb.pages.client.IndexModel
@{
}
<br />
<h2> list of clients </h2>
<a class='btn btn-primary btn-sm' href='/clients/create'></a>
<table class=" table">
    <thead>
        <tr>
            <th>id</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>email</th>
        </tr>
    </thead>
</table>